<div class="step-indicator">
    <h1 class="step-heading">{{stepIndicator?.unlockPortalPageHeaderTitle}}</h1>
    <ul class="steps">
        <li class="step-on">
            <div class="step-text" data-sm-text="Step 1 of 3:" data-large-text="1." aria-hidden="true">{{stepIndicator?.DUEnterYourWirelessNumberStep}}</div>
            <span class="hidden-spoken">Step 1 of 3. {{stepIndicator?.DUEnterYourWirelessNumberStep}}. Current step</span>
        </li>
        <li>
            <div class="step-text" data-sm-text="Step 2 of 3:" data-large-text="2." aria-hidden="true">{{stepIndicator?.DUAccountInformationStep}}</div>
            <span class="hidden-spoken">Step 2 of 3. {{stepIndicator?.DUAccountInformationStep}}. Remaining step</span>
        </li>
        <li>
            <div class="step-text" data-sm-text="Step 3 of 3:" data-large-text="3." aria-hidden="true">{{stepIndicator?.DUConfirmationStep}} </div>
            <span class="hidden-spoken">Step 3 of 3. {{stepIndicator?.DUConfirmationStep}}. Remaining step</span>
        </li>
    </ul>
</div>