<div class="container">
    <step-indicator class="d-b" [cms]="(cms | async)" [stepIndex]="2" [customerType]="true"></step-indicator> 
    <div class="row">
        <div class="span12">            
            <form class="account-form">
                <fieldset>
                    <div class="row">
                        <div class="form-row">
                            <label for="textinputID-5a">{{(cms | async)?.wirelessNumberLabel}}</label>
                            <div class="field-group">
                                <input id="textinputID-5a" placeholder="Ex: 1234567890" class="span12" type="text" [disabled]="true" name="wirelessNumber" [(ngModel)]="wirelessNumber">
                                <button class="reset-field" type="button" tabindex="-1" aria-label="Reset text field" aria-hidden="true"></button>
                            </div>
                            <div aria-live="polite" aria-atomic="true" class="error-msg">
                                <i class="icon-badgealert" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-row span5">
                            <label for="first_name">{{(cms | async)?.accountHolderFirstnameLabel}}</label>
                            <div class="field-group">
                                <input class="form-control" id="first_name" class="span12" name="firstName" placeholder="Ex: Smith" tabindex="0" type="text"
                                    maxlength="35" type="text" aria-label="Street address"
                                    aria-required="true" [(ngModel)]="firstName" (blur)="validateNext($event)">
                                <button class="reset-field" type="button" tabindex="-1" aria-label="Reset text field" aria-hidden="true"></button>
                            </div>
                            <div *ngIf="accFirstNameValidErr" aria-live="polite" aria-atomic="true" class="error-msg-color">
                                <i class="icon-badgealert" aria-hidden="true"></i> {{(cms | async)?.accountHolderFirstnameRequiredError}}
                            </div>
                        </div>
                        <div class="form-row span5 offset1">
                            <label for="address1">{{(cms | async)?.accountHolderLastnameLabel}}</label>
                            <div class="field-group">
                                <input id="last_name" name="lastName" class="span12" maxlength="35" type="text"
                                    aria-label="Street address" aria-required="true" 
                                    placeholder="Ex: Mary" [(ngModel)]="lastName" (blur)="validateNext($event)">
                                <button class="reset-field" type="button" tabindex="-1" aria-label="Reset text field"></button>
                            </div>
                            <div *ngIf="accLastNameValidErr" aria-live="polite" class="error-msg-color">
                                <i class="icon-badgealert" aria-hidden="true"></i> {{(cms | async)?.accountHolderLastnameRequiredError}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-row span5">
                            <label for="passcode">{{(cms | async)?.passcodeLabel}}</label>
                            <div class="field-group">
                                <input class="form-control" id="passcode" class="span12" name="passcode" placeholder="****" tabindex="0" type="password" 
                                    maxlength="35" 
                                    aria-label="Street address" aria-required="true" [(ngModel)]="passcode" (blur)="validateNext($event)">
                                <button class="reset-field" type="button" tabindex="-1" aria-label="Reset text field" aria-hidden="true"></button>
                            </div>
                            <div *ngIf="passcodeValidErr" aria-live="polite" aria-atomic="true" class="error-msg-color">
                                <i class="icon-badgealert" aria-hidden="true"></i> {{(cms | async)?.passcodeRequiredError}}
                            </div>
                            <a href="javascript:void(0);" onclick="window.open('https://www.att.com/esupport/article.html#!/wireless/KM1049472','newwindow','left=10,top=10,height='+ (window.innerHeight - 20) +',width='+ (window.innerWidth- 20) +''); return false"><em>{{(cms | async)?.forgotPasswordLink}}</em></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-row span5">
                            <label for="email">{{(cms | async)?.emailLabel}}</label>
                            <div class="field-group">
                                <input class="form-control" id="email" class="span12" name="email" placeholder="Ex: name@email.com" tabindex="0" type="email"
                                    maxlength="35"  aria-label="Street address"
                                    aria-required="true" [(ngModel)]="email" (blur)="validateNext($event)">
                                <button class="reset-field" type="button" tabindex="-1" aria-label="Reset text field" aria-hidden="true"></button>
                            </div>
                            <div *ngIf="emailValidErr" aria-live="polite" aria-atomic="true" class="error-msg-color">
                                <i class="icon-badgealert" aria-hidden="true"></i> {{(cms | async)?.emailRequiredError}}
                            </div>
                            <div *ngIf="invalidEmailFormatErr" aria-live="polite" class="error-msg-color" id="street_address">
                                <i class="icon-badgealert" aria-hidden="true"></i> {{(cms | async)?.emailValidationError}}
                            </div>
                        </div>
                        <div class="form-row span5 offset1">
                            <label for="email_again">{{(cms | async)?.confirmEmail}}</label>
                            <div class="field-group">
                                <input id="email_again" name="confirmEmail" class="span12" maxlength="35" type="email"
                                    aria-label="Street address" aria-required="true" 
                                    placeholder="Ex: name@email.com" [(ngModel)]="confirmEmail" (blur)="validateNext($event)">
                                <button class="reset-field" type="button" tabindex="-1" aria-label="Reset text field"></button>
                            </div>
                            <div *ngIf="confirmEmailValidErr" aria-live="polite" class="error-msg-color" id="street_address">
                                <i class="icon-badgealert" aria-hidden="true"></i> {{(cms | async)?.emailMismatchError}}
                            </div>
                            <div *ngIf="invalidConfirmEmailFormatErr" aria-live="polite" class="error-msg-color" id="street_address">
                                <i class="icon-badgealert" aria-hidden="true"></i> {{(cms | async)?.emailValidationError}}
                            </div>
                        </div>
                    </div>
                </fieldset>
                <h4 id="radiolabel1" class="heading-small-content-emphasis">{{(cms | async)?.militaryPersonalRadiolabel}}</h4>
                <fieldset role="radiogroup" aria-labelledby="radiolabel1" class="radio-ibl">
                    <div class="form-row">
                        <label for="opt1" class="radio" data-role="radio" >
                    <input type="radio" name="radioOptions" id="opt1" value="true" [checked]="mulitaryPersonnel" (change)="onMilitaryPersonnelChange(true)">
                    <i class="skin"></i>
                    <span>{{(cms | async)?.yesRadioLabel}}</span>
                </label>
                    </div>
                    <div class="form-row">
                        <label for="opt2" class="radio" data-role="radio">
                    <input type="radio" name="radioOptions" id="opt2" value="false" [checked]="mulitaryPersonnel" (change)="onMilitaryPersonnelChange(true)">
                    <i class="skin"></i>
                    <span>{{(cms | async)?.noRadioLabel}}</span>
                </label>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <hr class="lite">
    <div class="cta-button-group nodots align-right">
        <button [disabled]="isInvalid" id="accountInfoNext" class="btn btn-primary-functional" type="button" (click)="unlockNext()">{{(cms | async)?.nextButton}}</button>
        <button class="btn btn-secondary" type="button" (click)="unlockPrevious()">{{(cms | async)?.backButton}}</button>
    </div>
</div>