@import '../../app.component.scss';
.radio-ibl {
    .form-row {
        display: inline-block;
        &+.form-row {
            margin-left: 15px;
        }
    }
}

.account-form .form-row {
    margin-bottom: 15px;
}

@media (max-width:1024px) {
    .step-prev-tab {
        display: none;
    }
}

@media (min-width:768px) {
    /* Tab and Desktop */
    .cta-button-group .btn {
        width: 150px;
    }
}

.error-msg-color {
    color: red;
}