.modalwrapper {
    display: block;
}

.modal-devices {
   padding: 0;
   margin: 0;
   width: auto;
   height: auto;
   overflow: auto;
}
.modal-main {
   max-width: 122rem;
   padding: 0;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}
.modal-main * {
   box-sizing: border-box;
}

.modal-content-col {
   padding-top: 1rem;
   padding-bottom: 2rem;
}

.modal-content-col img + p:empty {
   margin-bottom: 0 !important;
}

.modal-header {
   flex: 0 auto !important;
   padding: 0;
   display: flex;
}
.modal-main .heading-page {
   line-height: 59px;
   padding-top: 10px;
   margin-bottom: 0;
//    margin: 0;
//    font-size: 24px;
}
.modal-footer {
   background-color: transparent !important;
   padding: 0 !important;
   text-align: right;
   border-top: 0px !important;
}


/* Desktop view ends*/

@media (min-width:768px) {
   .modal-main {
       width: calc(100% / 12 * 10); /* span10 */
   }
   .modal-content {
       display: flex;
       justify-content: space-between;
   }
   .modal-content-col {
       flex: 1 auto;
       padding-left: 1rem;
       padding-right: 1rem;
   }
   .modal-content div + p {
       margin-bottom: 1.5rem;
       font-size: 1.4rem;
       padding-left: .3rem;
   }
   .eligible-unlock .heading-page {
       /* padding-top:  */
   }
}

@media (max-width:767px) {
   .modal-main {
       width: 100%;
   }

   .modal-heading-dtv,
   .modal-content,
   .modal-disclaimer-dtv {
       padding-left: 2rem;
       padding-right: 2rem;
   }
   .modal-content {
       min-width: 0;
   }
   .modal-content-col {
       flex: 1 0 100%;
       flex-wrap: wrap;
       border-bottom: 1px #d2d2d2 solid;
   }
   .modal-content-col:last-child {
       border-bottom: 0px;
   }

   .modal-content div + p {
       margin-bottom: 1.2rem;
       font-size: 1.2rem;
       padding-left: .3rem;
   }
   .modal-content p > span {
       white-space: pre-wrap;
   }

   .modal-header {
       padding: 0;
       background: #f5f5f5;
       border-bottom: 1px solid #d7d7d7;
   }
   .heading-page {
       width: 100%;
       font-size: 28px;
       color: #191919;
       line-height: initial;
       text-align: left;
       padding: 65px 2rem 40px;
       margin: 0;
   }
   .modal-footer {
       padding: 0 30px;
   }
   
}

/* Tablet view starts*/
@media (min-width:768px) and (max-width:1024px) {

   .modal-footer {
       padding: 0;
   }
}
/* Tablet view ends*/