<div class="modal-devices" role="dialog" aria-label="Eligible Unlock" tabindex="-1">
    <div class="modal-main">
        <span class="heading-page focusme" tabindex="0">{{modalContent?.modalheaderText}}</span>
        <div class="modal-content">
            <div class="modal-content-col">
                <p tabindex="0" class="focusme" aria-describedby="onTv"><b>{{modalContent?.modalBodyHeader}}</b></p>
                <div class="float-children-left autoSize device-space" id="onTv">
                    <p>{{modalContent?.section1title}}</p>
                    <ul class="bullet">
                            <li *ngFor="let modal_content of modalContent?.section1listpart2"><span [innerHTML]="modal_content"></span></li>
                    </ul>
                    <p><b>{{modalContent?.ImpNoteTitle}}</b></p>
                    <p>{{modalContent?.ImpNoteDescp}}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer align-right">
                <button type="button" id="closeBtn" role="button" class="btn btn-primary-functional" data-dismiss="modal" attr.aria-label="Close" (click)="close($event)" attr.data-qa="shared-ModalComponent-closeBtn">Close</button>
        </div>
    </div>
</div>