<div class="container">
    <div class="span12">
        <div class="step-sub-heading step-confirmation">
            <div class="row-nowrap align-items-center">
                <i class="icon-controls-approvalL icon-large hidden-phone" role="img" aria-hidden="true"></i>
                <i class="icon-controls-approval icon-small visible-phone" role="img" aria-hidden="true"></i>
                <h2 class="heading-sub-section">{{cms?.thankUPageTitle}}</h2>
            </div>
        </div>
        <hr class="hr-dotted dark">
        <div class="confirmation-within-process">
            <p>1. {{cms?.step1ToFollowOnThankUPage}}</p>
            <p>2. {{cms?.step2ToFollowOnThankUPage}}</p>
            <p>3. {{cms?.step3ToFollowOnThankUPagePart1}} XXXXXX {{cms?.step3ToFollowOnThankUPagePart2}}</p><br/>
            <p>{{cms?.step4ToFollowOnThankUPage}}</p>
        </div>
    </div>
</div>