<div class="container">
<!--      <div class="step-indicator">
        <h1 class="step-heading">{{cms?.unlockPortalPageHeaderTitle}}</h1>
        <ul class="steps">
            <li [ngClass]="{'step-on': true }">
                <div class="step-text step-prev-tab" data-sm-text="Step 1 of 3:" data-large-text="1." aria-hidden="true">{{cms?.DUEnterYourWirelessNumberStep}}</div>
                <span class="hidden-spoken">Step 1 of 3. {{cms?.DUEnterYourWirelessNumberStep}}. Current step</span>
            </li>
            <li [ngClass]="{'step-on': true }">
                <div class="step-text step-prev-tab" data-sm-text="Step 2 of 3:" data-large-text="2." aria-hidden="true">{{cms?.DUAccountInformationStep}}</div>
                <span class="hidden-spoken">Step 2 of 3. {{cms?.DUAccountInformationStep}}. Remaining step</span>
            </li>
            <li [ngClass]="{'step-on': true }">
                <div class="step-text" data-sm-text="Step 3 of 3:" data-large-text="3." aria-hidden="true">{{cms?.DUConfirmationStep}} </div>
                <span class="hidden-spoken">Step 3 of 3. {{cms?.DUConfirmationStep}}. Remaining step</span>
            </li>
        </ul>
    </div> -->
    <step-indicator class="d-b" [cms]="cms" [stepIndex]="3" [customerType]="customerType"></step-indicator> 
    <div class="span12">
        <div class="step-sub-heading step-confirmation">
            <div class="row-nowrap align-items-center">
                <i class="icon-controls-approvalL icon-large hidden-phone" role="img" aria-hidden="true"></i>
                <i class="icon-controls-approval icon-small visible-phone" role="img" aria-hidden="true"></i>
                <h2 class="heading-sub-section">{{cms?.thankUPageTitle}}</h2>
            </div>
        </div>
        <hr class="hr-dotted dark">
        <div class="confirmation-within-process">
            <p>1. {{cms?.step1ToFollowOnThankUPage}}</p>
            <p>2. {{cms?.step2ToFollowOnThankUPage}}</p>
            <p>3. {{cms?.step3ToFollowOnThankUPagePart1}} <b>{{requestNo}}</b> {{cms?.step3ToFollowOnThankUPagePart2}}</p><br/>
            <p>{{cms?.step4ToFollowOnThankUPage}}</p>
        </div>
    </div>
</div>