@import url("../../../assets/ds2-modal.css");
:host{
    display: none;
}


:host /deep/ {

compatible-devices {
    // display: block;
    // -ms-flex-direction: column;
    // flex-direction: column;
    // height: 100%;
    // padding: 0 100px;
    // margin: 0 auto;
     overflow: auto;
}

@media (min-width: 768px) and (max-width: 1024px) {

    compatible-devices {
		//padding: 0 80px;
	}
}

@media (max-width: 767px) {

    .modalwrapper.modal-fullscreen {
        z-index: 9999;
    }   
    compatible-devices {
		//padding: 0;
	}
}

}
// TODO: Remove below corner-button class after global.css matched with 2017.04 folder
.corner-button {
    border-width: 1px;
    border-radius: 50%;
}