<div class="container">
    <step-indicator class="d-b" [stepIndicator]="unlockCanvas"></step-indicator>
    <wireless-number class="d-b" [cms]="unlockCanvas"></wireless-number>
    <account-information class="d-b" [cms]="unlockCanvas"></account-information>
    <confirmation class="d-b" [cms]="unlockCanvas"></confirmation>
    <!--<navigate-panel [navigatePanel]="unlockCanvas"></navigate-panel>-->
</div>

<modal id="eligble-unlock-modal" class="modal-fullscreen light-theme" (closed)="modalClosed($event)"><eligible-unlock></eligible-unlock></modal>