<div class="title1">{{(cms | async)?.unlockPortalIRUHeaderTitle}}</div>
<p>{{(cms | async)?.checkstatusIntroTxt}}</p>
<div class="row">
   <div class="span5">
      <form id="billingAddress" [formGroup]="accountInfoForm">
         <fieldset>
            <div class="form-row">
                <label for="IMEI">{{(cms | async)?.imeiLabel}}</label>
               <div class="field-group">
                  <input id="IMEI" name="street2" class="span12"  placeholder="Ex: 12345678901234" type="text" formControlName="imeiNumber" maxlength="15" aria-label="Apartment or suite number optional"
                  (focus)="elementFocused=true" (blur)="elementFocused=false"
                  >
                  <button class="reset-field" type="button" tabindex="-1" aria-label="Reset text field"></button>
               </div>
               <div aria-live="polite" *ngIf="imeiNumber.hasError('required') && imeiNumber.touched" class="error-msg" id="street_address2">
                  <i class="icon-badgealert" aria-hidden="true"></i> {{(cms | async)?.wirelessNumberRequiredError}}
               </div>
               <div aria-live="polite" *ngIf="!elementFocused && imeiNumber.hasError('minlength')" class="error-msg" id="street_address2">
                  <i class="icon-badgealert" aria-hidden="true"></i> {{(cms | async)?.imeiLengthError}}
               </div>
               <p class="required-text"><em [innerHTML]="((cms | async)?.ImeiCaptionHelpText)"></em></p>
            </div>
            <div class="form-row">
               <label for="req_num">{{(cms | async)?.requestNumberStatusLabel}}</label>
               <div class="field-group">
                  <input id="req_num" name="city" class="span12" data-validate="city" type="text" formControlName="requestNumber" data-required="true" aria-required="true" placeholder="Ex: AB1234C678" (focus)="elementFocused=true" (blur)="elementFocused=false" maxlength="10" >
                  <button class="reset-field" type="button" tabindex="-1" aria-label="Reset text field"></button>
               </div>
               <div aria-live="polite" *ngIf="requestNumber.hasError('required') && requestNumber.touched" class="error-msg" id="street_address2">
                  <i class="icon-badgealert" aria-hidden="true"></i> {{(cms | async)?.requestNumberRequiredError}}
               </div>
            </div>
            <div class="form-row">
                <!-- Captcha -->
            </div>
         </fieldset>
      </form>
   </div>
</div>

<!--capcha-->
<re-captcha sitekey="6LekkTsUAAAAALYft1VnYNym3Z9pFQNNQe6V_7Yb" (tokenChange)="getToken($event);"></re-captcha>

<hr class="lite">
<div class="cta-button-group nodots align-right">
    <button [disabled]="!accountInfoForm.controls['imeiNumber'].valid || !accountInfoForm.controls['requestNumber'].valid" class="btn btn-primary-functional" id="unlockCheck" type="button" (click)="unlockNext()">{{(cms | async)?.nextButton}}</button>
    <button class="btn btn-secondary" (click)="unlockPrevious()" type="button">{{(cms | async)?.backButton}}</button>
</div>
