<div class="title1">{{cms?.unlockPortalIRUHeaderTitle}}</div>
<p>{{cms?.checkstatusIntroTxt}}</p>
<div class="row">
   <div class="span5">
      <form id="billingAddress">
         <fieldset>
            <div class="form-row">
                <label for="IMEI">{{cms?.imeiLabel}}</label>
               <div class="field-group">
                  <input id="IMEI" name="street2" class="span12"  maxlength="35" placeholder="Ex: 12345678901234" type="text" aria-label="Apartment or suite number optional">
                  <button class="reset-field" type="button" tabindex="-1" aria-label="Reset text field"></button>
               </div>
               <div aria-live="polite" class="error-msg" id="street_address2">
                  <i class="icon-badgealert" aria-hidden="true"></i> {{cms?.imeiLengthError}}
               </div>
               <p class="required-text"><em [innerHTML]="cms?.ImeiCaptionHelpText"></em></p>
            </div>
            <div class="form-row">
               <label for="req_num">{{cms?.requestNumberStatusLabel}}</label>
               <div class="field-group">
                  <input id="req_num" name="city" class="span12" data-validate="city" maxlength="35" type="text" data-required="true" aria-required="true" placeholder="Ex: AB1234C678">
                  <button class="reset-field" type="button" tabindex="-1" aria-label="Reset text field"></button>
               </div>
               <div aria-live="polite" class="error-msg" id="city_field">
                  <i class="icon-badgealert" aria-hidden="true"></i>
               </div>
            </div>
            <div class="form-row">
                <!-- Captcha -->
            </div>
         </fieldset>
      </form>
   </div>
</div>

<!--capcha-->
<div class="capcha"></div>

<hr class="lite">
<div class="cta-button-group nodots align-right">
    <button class="btn btn-primary-functional" type="button">{{cms?.submitButton}}</button>
    <button class="btn btn-secondary" type="button">{{cms?.backButton}}</button>
</div>
