.searchBar {
    position: relative;
}

.btn-search {
    top: -1.3rem;
    left: -1.5rem;
}

.icon-right:before {
    content: unset;
}

.icon-hamburger {
    color: white;
}

.shopAndSupportText {
    margin-top: 0;
}

.ub_header {
    font-family: font-regular,Omnes-ATT-W02,Arial;
}
.btn-search {
    float: right; background-image: url('../../../assets/images/att-sprite.png')!important; 
    background-position: -107px -73px;  background-repeat: no-repeat;   margin-right: 7px;
    border: none;  height: 30px;  width: 34px; margin-top: -35px;
}

@media (min-width:768px) {
    /* Tab and Desktop */
    .btn-search {
        top: 1.2rem;
        left: 1rem;
    }
}

@media (min-width:1024px) {
    /* Tab and Desktop */
    .btn-search {
        top: 0.8rem;
        left: auto;
    }
}

