<div class="ub_header gn-ds2" id="ub_header">
    <div class="ub_wrapper">
    <div class="span8 pull-left">
        <div class="attLogo">
            <a id="ub_att_home" href="https://www.att.com" title="AT&amp;T Home" target="_self">
                <i id="ub_att_logo" aria-label="AT&amp;T Home" alt="AT&amp;T Home" role="img"> </i>
            </a>
        </div>
        <div class="shopAndSupport">				
            <i class="icon-hamburger" aria-label="Shop and support" alt="Shop and support" role="img"></i>
            <span class="shopAndSupportText">Shop & support</span>
        </div>
        <div class="searchBar">
            <input id="z1-searchfield" name="q" type="search" class="span6 span5-md ng-pristine ng-valid" placeholder="I'm looking for...">
            <button class="btn-search" type="submit" tabindex="0" aria-label="Search" title="Search"></button>
        </div>
        </div>
        <div class="pull-right span4">
            <div class="cartIcon">
                <i class="icon-fullcart" aria-label="Cart"></i>
            </div>
            <div class="signInBlock">
                <a id="z1-profile-cta" href="https://www.att.com/olam/loginAction.olamexecute">
                    <i class="icon-people-oneperson" aria-label="Sign in" role="img"></i>
                    <span class="z1-profile-text">
                        Sign in
                    </span>
                </a>
            </div>
            <div id="z1-watch-text">
            <a class="watch-tv-link" href="https://www.business.att.com/businesshome" aria-label="Business" target="_blank">
                <i class="icon-building-midsizedbuilding" data-type="unauth" role="img"></i>
                Business
                <i class="icon-right" aria-hidden="true"></i>
            </a>
            </div>
        </div>
    </div>
</div>