.searchBar {
    position: relative;
}

// .btn-search {
//     top: -1.3rem;
//     left: -1.5rem;
// }

.icon-right:before {
    content: unset;
}

.icon-hamburger {
    color: white;
}

.shopAndSupportText {
    margin-top: 0;
}

.ub_header {
    font-family: font-regular,Omnes-ATT-W02,Arial;
}
.btn-search {
    float: right; 
    background-position: -107px -73px;  background-repeat: no-repeat;   margin-right: 7px;
    border: none;  height: 30px;  width: 34px;min-width: 34px !important; margin-top: 0px;
    background-size: auto;
}

#ub_att_logo {
    background-position: -0px -108px;
}

// @media (min-width:1024px) {
//     /* Tab and Desktop */
//     .btn-search {
//         right: 2.5rem;
//     }
// }

@media (min-width:768px) and (max-width:1078px) {
    /* Tab and Desktop */
    .btn-search {
        top: 1rem;
        right: 2.15rem;
        display: none;
    }
}

@media (max-width:767px) {
    /* Tab and Desktop */
    .btn-search {
        top: -1.85rem;
        right: 1.15rem;
    }
}

