<div *ngIf="devicePortal">
    <div class="container">
        <div class="title1">{{devicePortal?.titleMsg1}}</div>
        <div>{{devicePortal?.description1}}</div>
        <h3 class="heading-sub-section">{{devicePortal?.titleMsg2}}</h3>
        <p>{{devicePortal?.description2}}</p>
        <p>{{devicePortal?.description3}} <a href="javascript:void(0);" onclick="window.open('https://www.att.com/offers/international-plans/day-pass.html','newwindow','left=10,top=10,height='+ (window.innerHeight - 20) +',width='+ (window.innerWidth- 20) +''); return false">{{devicePortal?.description4}}</a>.</p>
    </div>
    <hr class="lite">
</div>

<div class="container">
    <h3 class="heading-sub-section">{{deviceHelp?.titleMsg2}}</h3>
    <p>{{deviceHelp?.description2}} <a href="javascript:void(0);" onclick="window.open('https://www.att.com/esupport/article.html','newwindow','left=10,top=10,height='+ (window.innerHeight - 20) +',width='+ (window.innerWidth- 20) +''); return false">{{deviceHelp?.description3}}</a>    {{deviceHelp?.description4}}</p>
</div>