<div class="ge5p_global_styles gn-ds2">
    <div class="ge5p_z7" id="ge5p_z7">
    <footer>
    <div id="gn-zone5">
    <div id="z5-footer-content" class="container" data-link-position="Footer" data-event-action="linkClick" data-event-code="Link_Click">
    <div class="row">
    <div id="z5-footer-links" class="span12">
    <div id="z5-ftr-col1" class="span12-sm span3 span4-md">
    <div><div class="parbase linkContainer section">
    <ul class="no-bullet ">
    <li class="hide-sm hide-xsm">
    <a href="https://www.att.com/stores/" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Find a store&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.att.com/stores/&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Find a store" target="_self">
    <i class="icon-location-pinpoint" aria-hidden="true"></i>
    Find a store
    </a>
    </li>
    <li class="hide-lg hide-md">
    <a href="https://m.att.com/stores/" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Find a store&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://m.att.com/stores/&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Find a store" target="_self">
    <i class="icon-location-pinpoint" aria-hidden="true"></i>
    Find a store
    </a>
    </li>
    <li class="hide-sm hide-xsm">
    <a href="https://www.att.com/storeappointment" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Make a store appointment&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.att.com/storeappointment&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Make a store appointment" target="_self">
    <i class="icon-misc-datetime" aria-hidden="true"></i>
    Make a store appointment
    </a>
    </li>
    <li class="hide-lg hide-md">
    <a href="https://m.att.com/shopmobile/find-a-store/find-a-store-results.html" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Make a store appointment&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://m.att.com/shopmobile/find-a-store/find-a-store-results.html&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Make a store appointment" target="_self">
    <i class="icon-misc-datetime" aria-hidden="true"></i>
    Make a store appointment
    </a>
    </li>
    <li class="hide-sm hide-xsm">
    <a href="https://www.att.com/maps/wireless-coverage.html" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Coverage maps&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.att.com/maps/wireless-coverage.html&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Coverage maps" target="_self">
    <i class="icon-location-unitedstates" aria-hidden="true"></i>
    Coverage maps
    </a>
    </li>
    <li class="hide-lg hide-md">
    <a href="https://www.att.com/maps/wireless-coverage.html" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Coverage maps&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.att.com/maps/wireless-coverage.html&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Coverage maps" target="_self">
    <i class="icon-location-unitedstates" aria-hidden="true"></i>
    Coverage maps
    </a>
    </li>
    <li class="hide-sm hide-xsm">
    <a href="https://www.att.com/gen/general?pid=11627" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Business customers&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.att.com/gen/general?pid=11627&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Business customers" target="_self">
    <i class="icon-building-midsizedbuilding" aria-hidden="true"></i>
    Business customers
    </a>
    </li>
    <li class="hide-lg hide-md">
    <a href="https://www.att.com/gen/general?pid=11627" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Business customers&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.att.com/gen/general?pid=11627&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Business customers" target="_self">
    <i class="icon-building-midsizedbuilding" aria-hidden="true"></i>
    Business customers
    </a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    <div id="z5-ftr-col2" class="span12-sm span6 span4-md">
    <div><div class="parbase linkContainer section">
    <ul class="no-bullet ">
    <li class="hide-sm hide-xsm">
    <a href="https://www.att.com/gen/landing-pages?pid=3309" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;About AT&amp;T&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.att.com/gen/landing-pages?pid=3309&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="About AT&amp;T" target="_self">
    About AT&amp;T
    </a>
    </li>
    <li class="hide-lg hide-md">
    <a href="https://about.att.com/category/all_news.html" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;About AT&amp;T&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://about.att.com/category/all_news.html&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="About AT&amp;T" target="_self">
    About AT&amp;T
    </a>
    </li>
    <li class="hide-sm hide-xsm">
    <a href="https://www.att.com/contactus/" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Contact us&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.att.com/contactus/&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Contact us" target="_self">
    Contact us
    </a>
    </li>
    <li class="hide-lg hide-md">
    <a href="https://www.att.com/contactus/" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Contact us&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.att.com/contactus/&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Contact us" target="_self">
    Contact us
    </a>
    </li>
    <li class="hide-sm hide-xsm">
    <a href="https://secure.opinionlab.com/ccc01/o.asp?id=fXJtjaWr" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Feedback&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://secure.opinionlab.com/ccc01/o.asp?id=fXJtjaWr&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Feedback" target="_blank">
    Feedback
    <i class="icon-datanetwork-link" aria-hidden="true" aria-label="External Link"></i>
    </a>
    </li>
    <li class="hide-lg hide-md">
    <a href="https://secure.opinionlab.com/ccc01/o.asp?id=fXJtjaWr" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Feedback&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://secure.opinionlab.com/ccc01/o.asp?id=fXJtjaWr&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Feedback" target="_blank">
    Feedback
    <i class="icon-datanetwork-link" aria-hidden="true" aria-label="External Link"></i>
    </a>
    </li>
    <li>
    <a class="langLink" id="ge5p_z1-change-language" href="javascript:void(0)" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Ver en español&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;javascript:void(0)&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" mporgnav="" data-lang="es" data-href="javascript:void(0)" (click)="changeLanguage()">{{(cms | async)?.viewInLanguage}}</a> 
    </li>
    </ul>
    </div>
    </div>
    </div><div id="z5-ftr-col3" class="span12-sm span3 span4-md">
    <div><div class="parbase linkContainer section">
    <ul class="ftr-social-links ">
    <li class="hide-sm hide-xsm">
    <a href="https://twitter.com/att" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Follow us on Twitter&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://twitter.com/att&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Follow us on Twitter" target="_blank">
    <i class="icon-social-twitterL" aria-hidden="true"></i>
    </a>
    </li>
    <li class="hide-lg hide-md">
    <a href="https://twitter.com/att" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Follow us on Twitter&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://twitter.com/att&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Follow us on Twitter" target="_blank">
    <i class="icon-social-twitterL" aria-hidden="true"></i>
    </a>
    </li>
    <li class="hide-sm hide-xsm">
    <a href="https://www.facebook.com/ATT" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Follow us on Facebook&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.facebook.com/ATT&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Follow us on Facebook" target="_blank">
    <i class="icon-social-facebookL" aria-hidden="true"></i>
    </a>
    </li>
    <li class="hide-lg hide-md">
    <a href="https://www.facebook.com/ATT" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Follow us on Facebook&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.facebook.com/ATT&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Follow us on Facebook" target="_blank">
    <i class="icon-social-facebookL" aria-hidden="true"></i>
    </a>
    </li>
    <li class="hide-sm hide-xsm">
    <a href="https://www.instagram.com/att/" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Follow us on Instagram&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.instagram.com/att/&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Follow us on Instagram" target="_blank">
    <i class="icon-social-instagramL" aria-hidden="true"></i>
    </a>
    </li>
    <li class="hide-lg hide-md">
    <a href="https://www.instagram.com/att/" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Follow us on Instagram&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.instagram.com/att/&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Follow us on Instagram" target="_blank">
    <i class="icon-social-instagramL" aria-hidden="true"></i>
    </a>
    </li>
    <li class="hide-sm hide-xsm">
    <a href="https://www.linkedin.com/company/at&amp;t" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Follow us on Linkedin&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.linkedin.com/company/at&amp;t&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Follow us on Linkedin" target="_blank">
    <i class="icon-social-linkedinL" aria-hidden="true"></i>
    </a>
    </li>
    <li class="hide-lg hide-md">
    <a href="https://www.linkedin.com/company/at&amp;t" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Follow us on Linkedin&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.linkedin.com/company/at&amp;t&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Follow us on Linkedin" target="_blank">
    <i class="icon-social-linkedinL" aria-hidden="true"></i>
    </a>
    </li>
    </ul>
    </div>
    <div class="parbase linkContainer section">
    <ul class="no-bullet ">
    <li class="hide-sm hide-xsm">
    <a href="https://forums.att.com/" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Community forums&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://forums.att.com/&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Community forums" target="_self">
    <i class="icon-bubble-forums" aria-hidden="true"></i>
    Community forums
    </a>
    </li>
    <li class="hide-lg hide-md">
    <a href="https://forums.att.com/" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Community forums&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://forums.att.com/&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Community forums" target="_self">
    <i class="icon-bubble-forums" aria-hidden="true"></i>
    Community forums
    </a>
    </li>
    </ul>
    </div>
    </div>           
    </div>
    <div class="clearfix"></div>
    </div>
    </div>
    <div id="z5-footer-legal" class="row">
    <div class="span12">
    <div><div class="parbase linkContainer section">
    <ul class="ftr-legal-links clear-fix">
    <li class="hide-sm hide-xsm">
    <a href="https://www.att.com/legal/legal-policy-center.html" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Legal policy center&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.att.com/legal/legal-policy-center.html&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Legal policy center" target="_self">
    Legal policy center
    </a>
    </li>
    <li class="hide-lg hide-md">
    <a href="https://m.att.com/shopmobile/legal/legal-policy-center.html" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Legal policy center&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://m.att.com/shopmobile/legal/legal-policy-center.html&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Legal policy center" target="_self">
    Legal policy center
    </a>
    </li>
    <li class="hide-sm hide-xsm">
    <a href="http://about.att.com/sites/privacy_policy" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Privacy policy&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;http://about.att.com/sites/privacy_policy&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Privacy policy" target="_self">
    Privacy policy
    </a>
    </li>
    <li class="hide-lg hide-md">
    <a href="https://www.att.com/gen-mobile/privacy-policy?pid=2506" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Privacy policy&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.att.com/gen-mobile/privacy-policy?pid=2506&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Privacy policy" target="_self">
    Privacy policy
    </a>
    </li>
    <li class="hide-sm hide-xsm">
    <a href="https://www.att.com/legal/terms.attWebsiteTermsOfUse.html" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Terms of use&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.att.com/legal/terms.attWebsiteTermsOfUse.html&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Terms of use" target="_self">
    Terms of use
    </a>
    </li>
    <li class="hide-lg hide-md">
    <a href="https://www.att.com/gen-mobile/general?pid=11561" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Terms of use&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.att.com/gen-mobile/general?pid=11561&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Terms of use" target="_self">
    Terms of use
    </a>
    </li>
    <li class="hide-sm hide-xsm">
    <a href="https://www.att.com/gen/public-affairs?pid=20879" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Broadband details&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.att.com/gen/public-affairs?pid=20879&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Broadband details" target="_self">
    Broadband details
    </a>
    </li>
    <li class="hide-lg hide-md">
    <a href="https://www.att.com/gen/public-affairs?pid=20879" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Broadband details&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.att.com/gen/public-affairs?pid=20879&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Broadband details" target="_self">
    Broadband details
    </a>
    </li>
    <li class="hide-sm hide-xsm">
    <a href="http://www.att.com/internal/adchoices" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Advertising choices&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;http://www.att.com/internal/adchoices&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Advertising choices" target="_blank">
    Advertising choices
    <i class="icon-datanetwork-link" aria-hidden="true" aria-label="External Link"></i>
    </a>
    </li>
    <li class="hide-lg hide-md">
    <a href="http://www.att.com/internal/adchoices" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Advertising choices&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;http://www.att.com/internal/adchoices&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Advertising choices" target="_blank">
    Advertising choices
    <i class="icon-datanetwork-link" aria-hidden="true" aria-label="External Link"></i>
    </a>
    </li>
    <li class="hide-sm hide-xsm">
    <a href="https://www.att.com/shop/wireless/mobile-accessibility.html" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Accessibility&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.att.com/shop/wireless/mobile-accessibility.html&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Accessibility" target="_self">
    Accessibility
    </a>
    </li>
    <li class="hide-lg hide-md">
    <a href="https://m.att.com/shopmobile/wireless/mobile-accessibility.html" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Accessibility&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://m.att.com/shopmobile/wireless/mobile-accessibility.html&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Accessibility" target="_self">
    Accessibility
    </a>
    </li>
    <li class="hide-sm hide-xsm">
    <a href="https://www.att.com/sitemap/" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Site map&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.att.com/sitemap/&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Site map" target="_self">
    Site map
    </a>
    </li>
    <li class="hide-lg hide-md">
    <a href="https://www.att.com/sitemap/" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;Site map&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;https://www.att.com/sitemap/&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}" aria-label="Site map" target="_self">
    Site map
    </a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <div id="z5-footer-copyright" class="row">
    <div class="span12">
    <div class="span9 span12-xsm span12-sm span9-md pull-left">
    <div><div class="text parbase section">
    <div>
    <p><a href="https://www.att.com/gen/privacy-policy?pid=2587" target="_self" title="Intellectual Property"><u>©2017 AT&amp;T Intellectual Property</u>.&nbsp;</a>All rights reserved.<br>
    </p>
    </div>
    </div>
    </div>
    </div>                  
    <div id="z5-trust-logo" class="span3 span12-xsm span12-sm span3-md pull-right">
    <a class="bg-att-sprite-img" tabindex="0" href="https://privacy.truste.com/privacy-seal/validation?rid=6a62df46-069b-45ec-8768-f516726eb8f6" title="TRUSTe Privacy Certification" id="ge5p_z7_s4003" target="_blank" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{&#39;events.linkName&#39;:&#39;link. This site is certified by TRUSTe This link will open a new window&#39;,&#39;events.linkPosition&#39;:&#39;Footer&#39;, &#39;events.linkDestinationUrl&#39;:&#39;//privacy.truste.com/privacy-seal/validation?rid=6a62df46-069b-45ec-8768-f516726eb8f6&#39;,&#39;events.linkPath&#39;:&#39;null&#39;}">
    <span class="hidden-spoken">Opens a new window</span>
    </a>			
    </div>
    </div>
    </div>
    </div>
    </div>
    </footer><div class="color-test" style="background-color:orange; height:0"></div>
    </div>
    </div>