/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import 'assets/styles/global/global.css';

$fallback: Georgia, serif;

html, body, mat-sidenav-container, .app-fullpage {
  font-family: $fallback;
  margin: 0;
  width: 100%;
  height: 100%;

  .wf-active & {
    font-family: "Omnes-ATT-W02";
  }
}
