@import '../../app.component.scss';

.radio-form {
    .form-row {
        display: inline-block;

        & +.form-row {
            margin-left: 15px;
        }
    }
}

@media (min-width:768px) {
    /* Tab and Desktop */
    .cta-button-group .btn {
        width: 150px;
    }
}
