@import '../../app.component.scss';
.radio-ibl {
    .form-row {
        display: inline-block;
        &+.form-row {
            margin-left: 15px;
        }
    }
}

.account-form .form-row {
    margin-bottom: 15px;
}

@media (min-width:768px) {
    /* Tab and Desktop */
    .cta-button-group .btn {
        width: 150px;
    }
}

.error-msg {
    color: red;
    font-size: 15px;
    display: block;
    padding: 5px 0px 8px 0px !important;
}

.icon-badgealert {
    color: red;
    font-size: 15px;
}
