<div class="container">
<step-indicator class="d-b" [cms]="cms" [stepIndex]="2" [customerType]="false"></step-indicator> 
    <div class="row">
        <div class="span12">
            <form class="account-form">
                <fieldset>
                    <div class="row">
                        <div class="form-row span5">
                            <label for="last_name">{{cms?.imeiContactInfoFirstnameLabel}}</label>
                            <div class="field-group">
                                <input class="form-control" id="last_name" class="span12" name="firstName" placeholder="Ex: Smith" tabindex="0" type="text"
                                    data-validate="address1" maxlength="35" data-required="true" type="text" aria-label="Street address"
                                    aria-required="true" [(ngModel)]="firstName" (keyup)="validateNext($event)">
                                <button class="reset-field" type="button" tabindex="-1" aria-label="Reset text field" aria-hidden="true"></button>
                            </div>
                            <div *ngIf="firstNameValidErr" aria-live="polite" aria-atomic="true" class="error-msg-color">
                                <i class="icon-badgealert" aria-hidden="true"></i> {{cms?.accountHolderFirstnameRequiredError}}
                            </div>
                        </div>
                        <div class="form-row span5 offset1">
                            <label for="address1">{{cms?.imeiContactInfoLastnameLabel}}</label>
                            <div class="field-group">
                                <input id="address1" name="lastName" class="span12" data-validate="address1" maxlength="35" data-required="true" type="text"
                                    aria-label="Street address" aria-required="true" placeholder="Ex: Mary" [(ngModel)]="lastName"
                                    (keyup)="validateNext($event)">
                                <button class="reset-field" type="button" tabindex="-1" aria-label="Reset text field"></button>
                            </div>
                            <div *ngIf="lastNameValidErr" aria-live="polite" class="error-msg-color" id="street_address">
                                <i class="icon-badgealert" aria-hidden="true"></i> {{cms?.accountHolderLastnameRequiredError}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-row span5">
                            <label for="wirelessNumber">{{cms?.wirelessTelephoneNumberLabel}}</label>
                            <div class="field-group">
                                <input class="form-control" id="wirelessNumber" class="span12" name="wirelessNumber" placeholder="Ex: 1234567890" tabindex="0" type="text"
                                    data-validate="address1"  minlength="10" maxlength="10" data-required="true" type="text" aria-label="Street address"
                                    aria-required="true" [(ngModel)]="wirelessNumber" (keyup)="validateNext($event)">
                                <button class="reset-field" type="button" tabindex="-1" aria-label="Reset text field" aria-hidden="true"></button>
                            </div>
                            <div *ngIf="wirelessNumberValidErr" aria-live="polite" aria-atomic="true" class="error-msg-color">
                                <i class="icon-badgealert" aria-hidden="true"></i> {{cms?.wirelessNumberRequiredError}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-row span5">
                            <label for="email">{{cms?.emailLabel}}</label>
                            <div class="field-group">
                                <input class="form-control" id="email" class="span12" name="email" placeholder="Ex: name@email.com" tabindex="0" type="email"
                                    data-validate="address1" maxlength="35" data-required="true"  aria-label="Street address"
                                    aria-required="true" [(ngModel)]="email" (keyup)="validateNext($event)">
                                <button class="reset-field" type="button" tabindex="-1" aria-label="Reset text field" aria-hidden="true"></button>
                            </div>
                            <div *ngIf="emailValidErr" aria-live="polite" aria-atomic="true" class="error-msg-color">
                                <i class="icon-badgealert" aria-hidden="true"></i> {{cms?.emailRequiredError}}
                            </div>
                        </div>
                        <div class="form-row span5 offset1">
                            <label for="email_again">{{cms?.confirmEmail}}</label>
                            <div class="field-group">
                                <input id="email_again" name="confirmEmail" class="span12" data-validate="address1" maxlength="35" data-required="true" type="email"
                                    aria-label="Street address" aria-required="true" placeholder="Ex: name@email.com" [(ngModel)]="confirmEmail"
                                    (keyup)="validateNext($event)">
                                <button class="reset-field" type="button" tabindex="-1" aria-label="Reset text field"></button>
                            </div>
                            <div *ngIf="confirmEmailValidErr" aria-live="polite" class="error-msg-color" id="street_address">
                                <i class="icon-badgealert" aria-hidden="true"></i> {{cms?.emailMismatchError}}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <hr class="lite">
    <div class="cta-button-group nodots align-right">
        <button [disabled]="isInvalid" class="btn btn-primary-functional" type="button" (click)="unlockNext()">{{cms?.submitButton}}</button>
        <button class="btn btn-secondary" type="button" (click)="unlockPrevious()">{{cms?.backButton}}</button>
    </div>
</div>