<div class="container"> 
<step-indicator class="d-b" [cms]="(cms | async)" [stepIndex]="2" [customerType]="false"></step-indicator> 
    <div class="row">
        <div class="span12">
            <form id="imeiContactInfo" [formGroup]="imeiContactInfoForm">
                <fieldset>
                    <div class="row">
                        <div class="form-row span5">
                            <label for="last_name">{{(cms | async)?.imeiContactInfoFirstnameLabel}}</label>
                            <div class="field-group">
                                 <input class="form-control" id="last_name" class="span12" name="firstName" placeholder="Ex: Smith" tabindex="0" type="text"
                                    data-validate="address1"  data-required="true" type="text" aria-label="Street address"
                                    formControlName="firstName" aria-required="true" (focus)="elementFocused=true" (blur)="elementFocused=false"> 

                                 <button class="reset-field" type="button" tabindex="-1" aria-label="Reset text field" aria-hidden="true"></button>
                            </div>
                            <div aria-live="polite" *ngIf="firstName.hasError('required') && firstName.touched" class="error-msg">
                                <i class="icon-badgealert" aria-hidden="true"></i> {{(cms | async)?.accountHolderFirstnameRequiredError}}
                            </div>
                            

                        </div>
                        <div class="form-row span5 offset1">
                            <label for="lastName">{{(cms | async)?.imeiContactInfoLastnameLabel}}</label>
                            <div class="field-group">
                                <input id="lastName"  class="span12" data-validate="lastName" maxlength="35" data-required="true" type="text"
                                    formControlName="lastName" aria-label="Street address" aria-required="true" placeholder="Ex: Mary"  (focus)="elementFocused=true" (blur)="elementFocused=false">
                                <button class="reset-field" type="button" tabindex="-1" aria-label="Reset text field"></button>
                            </div>
                            <div *ngIf="lastName.hasError('required') && lastName.touched" aria-live="polite" class="error-msg" id="street_address">
                                <i class="icon-badgealert" aria-hidden="true"></i> {{(cms | async)?.accountHolderLastnameRequiredError}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-row span5">
                            <label for="wirelessNumber">{{(cms | async)?.wirelessTelephoneNumberLabel}}</label>
                            <div class="field-group">
                                <input class="form-control" id="wirelessNumber" class="span12" name="wirelessNumber" placeholder="Ex: 1234567890" tabindex="0" type="text"
                                    data-validate="address1"  minlength="10" maxlength="10" data-required="true" type="text" aria-label="Street address"
                                    formControlName="wirelessNumber" aria-required="true" (focus)="elementFocused=true" (blur)="elementFocused=false">
                                <button class="reset-field" type="button" tabindex="-1" aria-label="Reset text field" aria-hidden="true"></button>
                            </div>
                            <div *ngIf="wirelessNumber.hasError('required') && wirelessNumber.touched" aria-live="polite" aria-atomic="true" class="error-msg">
                                <i class="icon-badgealert" aria-hidden="true"></i> {{(cms | async)?.wirelessNumberRequiredError}}
                            </div>
                             <div aria-live="polite" *ngIf="!elementFocused && wirelessNumber.hasError('minlength')" class="error-msg" id="street_address2">
                                <i class="icon-badgealert" aria-hidden="true"></i> {{(cms | async)?.wirelessNumberValidationError}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-row span5">
                            <label for="email">{{(cms | async)?.emailLabel}}</label>
                            <div class="field-group">
                                <input class="form-control" id="email" class="span12" name="email" placeholder="Ex: name@email.com" tabindex="0" type="email"
                                    data-validate="address1" maxlength="35" data-required="true"  aria-label="Street address"
                                    formControlName="email" aria-required="true" (focus)="elementFocused=true" (blur)="elementFocused=false">
                                <button class="reset-field" type="button" tabindex="-1" aria-label="Reset text field" aria-hidden="true"></button>
                            </div>
                            <div *ngIf="email.hasError('required') && email.touched" aria-live="polite" aria-atomic="true" class="error-msg">
                                <i class="icon-badgealert" aria-hidden="true"></i> {{(cms | async)?.emailRequiredError}}
                            </div>
                            <p class="required-text"><em>{{(cms | async)?.emailHelpText}}</em></p>
                        </div>
                        <div class="form-row span5 offset1">
                            <label for="email_again">{{(cms | async)?.confirmEmail}}</label>
                            <div class="field-group">
                                <input id="email_again" name="confirmEmail" class="span12" data-validate="address1" maxlength="35" data-required="true" type="email"
                                    formControlName="confirmEmail" aria-label="Street address" aria-required="true" placeholder="Ex: name@email.com" (focus)="elementFocused=true" (blur)="elementFocused=false">
                                <button class="reset-field" type="button" tabindex="-1" aria-label="Reset text field"></button>
                            </div>
                            <div *ngIf="confirmEmail.hasError('required') && confirmEmail.touched" aria-live="polite" class="error-msg" id="street_address">
                                <i class="icon-badgealert" aria-hidden="true"></i> {{(cms | async)?.emailRequiredError}}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <hr class="lite">
    <h3 class="heading-small-content-emphasis">{{(cms | async)?.whatnextTitle}}</h3>
    <p>{{(cms | async)?.whatnextInstructionLine1}}</p>
    <p [innerHTML]="(cms | async)?.whatnextInstructionLine2"></p>
    <hr class="lite">
    <div class="cta-button-group nodots align-right">
        <button [disabled]="!imeiContactInfoForm.controls['firstName'].valid || !imeiContactInfoForm.controls['lastName'].valid 
        || !imeiContactInfoForm.controls['wirelessNumber'].valid || !imeiContactInfoForm.controls['email'].valid 
        || !imeiContactInfoForm.controls['confirmEmail'].valid" id="nonattSubmit" class="btn btn-primary-functional" type="button" (click)="unlockNext()">{{(cms | async)?.submitButton}}</button>
        <button class="btn btn-secondary" type="button" (click)="unlockPrevious()">{{(cms | async)?.backButton}}</button>
    </div>
</div>